### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [23]:
# Use the length of list of screen names "SN", for total players.
total_players = len(purchase_data["SN"].value_counts())
#Get data frame with total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
# number of unique items
# average purchase price
# total number of purchases
# total revenue


# number of unique items
number_of_unique_items = len((purchase_data["Item ID"]).unique())

# average purchase price
average_price = (purchase_data["Price"]).mean()

# total number of purchases
number_of_purchases = (purchase_data["Purchase ID"]).count()

# total revenue
total_revenue = (purchase_data["Price"]).sum()



# Creating dataframe with values
summary_df = pd.DataFrame(
{"Number of Unique Items":[number_of_unique_items],
"Average Price":[average_price], 
"Number of Purchases": [number_of_purchases], 
"Total Revenue": [total_revenue]})

# Formating $
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [90]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

# Gender Count
gender = purchase_data.groupby("Gender")["SN"].nunique()
gender_count_df.head()

# count by gender and divivde by total players 
percentage_of_players = total_count_gender / total_players * 100

gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "gender Count": total_count_gender})

gender_demographics_df = pd.DataFrame({"Percentage of Players": gender_count_df, "Total Count":gender_percentage_df})
gender_demographics_df

                       Percentage of Players  Total Count
Gender
Female                                    81     0.141361
Male                                     484     0.844677
Other / Non-Disclosed                     11     0.019197


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [137]:
#Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Per Person

#Purchase Count
purchase_count = gender_stats["Purchase ID"].count()
purchase_count.count()

gender_average_df = purchase_data.groupby("Gender")["Price"].mean()
gender_average_df.round(2)

# Average purchase total by gender 
avg_purchase_total = gender_stats["Price"].sum()
avg_purchase_total

average_purchase_per_person = avg_purchase_total/total_count_gender

#Normalized gender total.
normalized_gender_total_df = gender_average_df/gender_count_df
normalized_gender_total_df.round(2)



gender_demographics.index.name = "Gender"


gender_demographics.style.format({"Average Purchase Total":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

NameError: name 'purchase_data' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [165]:
# Count purchases by age group
purchase_count = age_grouped["Purchase ID"].count()

purchase_count["Purchase ID"] = pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df.head()

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [205]:
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value


total= purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
average = purchase_data["Price"].mean()
count= purchase_data.groupby(["SN"]).count()["Price"].rename("Average Purchase Price")


purchase_total_spender = purchase_data["Price"].sum()
top_spenders = pd.DataFrame({"Total Purchase Value":total,
                          "Average Purchase Price":average_purchase_price,
                          "Purchase Count":count})
top_spenders.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.050987               5
Idastidru52                 15.45                3.050987               4
Chamjask73                  13.83                3.050987               3
Iral74                      13.62                3.050987               4
Iskadarya95                 13.10                3.050987               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
#creating New dataframe 

items_list = purchase_data[["Item ID", "Item Name", "Price"]]

items_data = items_list.groupby(["Item ID","Item Name"])

items_purchase = purchase_data.groupby(["Item ID", "Item Name"]).count()

items_value = purchase_data.groupby(["Item ID", "Item Name"]).sum()

items_price = items_value/items_purchase


most_popular_items = pd.DataFrame({"purchase count": items_purchase, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":items_value})

NameError: name 'purchase_data' is not defined

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [247]:
most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)

# Format with currency style 
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})